@font-face {
    font-family: 'MyFont';
    src: url('./Chicken Cripsy.ttf') format('truetype');
    /*url('./my-font.woff') format('woff');*/
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('./fireworks.png');
}